[Unit]
Description=Hass.io AppArmor
ConditionSecurity=apparmor
Wants=hassio-supervisor.service
Requires=mount-securityfs.service
After=mount-securityfs.service
Before=docker.service hassio-supervisor.service

[Service]
Type=oneshot
RemainAfterExit=true
PassEnvironment=SUPERVISOR_CHANNEL
ExecStart=/usr/sbin/hassio-apparmor

[Install]
WantedBy=multi-user.target
